.off-canvas-wrap{ 'data-offcanvas' => true }
  .inner-wrap
    %header
      %nav.tab-bar
        %section.left-small
          %a.left-off-canvas-toggle.menu-icon
            %span
        %section.middle.tab-bar-section.text-center
          %h1
            %span spotifique
        %section.right-small
          %a.right-off-canvas-toggle.menu-icon
            %span

      %aside.left-off-canvas-menu
        %ul.off-canvas-list
          %li
            %label search
          %li
            %form
              %input{ type: "text", placeholder: "search" }
        %ul.off-canvas-list#playlistslist
          %li
            %label playlists

      %aside.right-off-canvas-menu
        %ul.off-canvas-list
          %li
            %label system
          / menu demo
          %li= link_to 'info', '#'
          %li= link_to 'system', '#'
          %li= link_to 'and', '#'
          %li= link_to 'stuff', '#'

    %article.main-section
      #landing
      #playlist-info
      #playlist-tracks

      %a.exit-off-canvas

    %section.now-playing
      .row
        .columns
          %p Dark Horse - Katy Perry
    %footer
      .row.slidin-content
        .columns
          .footer-window
            .row
              .columns.text-center
                = link_to '', '#', id: 'prev', class: 'button tiny round'
                = link_to '', '#', id: 'playit', class: 'button tiny round'
                = link_to '', '#', id: 'stopit', class: 'button tiny round'
                = link_to '', '#', id: 'next', class: 'button tiny round'

            .row
              .columns
                .range-slider{ 'data-slider' => true, 'data-options' => 'step: 10;' }
                  %span.range-slider-handle
                  %span.range-slider-active-segment
                  %input{ type: 'hidden' }

      .overlay.scroll
        = link_to '', '#', id: 'scroll-controls', class: 'button tiny round'

      .overlay.album
        = image_tag 'placeholder_square.png'
